name: C CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v6

    - name: Run make
      run: make

    - name: Upload build artifact
      uses: actions/upload-artifact@v6
      with:
        name: shell-bin
        path: bin/shell
